<section style="margin-bottom: 5px;" class="header-time">
    <time><% const date = new Date(); %> <%= date.getHours(); %>:<%= date.getMinutes(); %> <%= date.getMonth(); %>/<%= date.getDate(); %>/<%= date.getFullYear(); %></time>
</section>