<% songs.forEach(song=> { %>
    <div class="song"
        onclick="addSong('<%=song.id%>','<%=song.title%>', '<%=song.artist%>', '<%=song.duration%>')"
        data-id="<%=song.title+song.artist%>">
        <div class="song-icon">
            <%= song.title.slice(0,2).toUpperCase()%>
        </div>
        <div class="song-details">
            <div class="song-title">
                <%=song.title%>
            </div>
            <div class="song-author">
                <%= song.artist%>
            </div>
        </div>
        <div class="song-duration">
            <%=song.duration%>
        </div>
    </div>
    <% }) %>

        <script>
            class Song {
                constructor(song) {
                    this.id = song.id;
                    this.title = song.title;
                    this.artist = song.artist;
                    this.duration = song.duration
                    this.elem = null;
                }

                render(timeslotId) {
                    const songDiv = document.createElement("li");
                    songDiv.dataset.songid = this.id
                    songDiv.textContent = `${this.title} - ${this.artist} - ${this.duration}`
                    this.elem = songDiv;
                    // check if timeslotId provided so we can add delete capabilities
                    if (timeslotId !== null) {
                        songDiv.addEventListener("click", async () => {
                            await fetch(
                                `/api/timeslot/${timeslotId}/deleteSong?id=${this.id}`,
                                { method: "DELETE" }
                            ).then(response => response.json())
                                .then((songs) => {
                                    const songModalPlaylist = document.querySelector(".song-playlist-songs");
                                    const timeslotModalPlaylist = document.querySelector(".timeslot-playlist-songs");

                                    songModalPlaylist.removeChild(songModalPlaylist.querySelector(`[data-songid='${this.id}']`))
                                    timeslotModalPlaylist.removeChild(timeslotModalPlaylist.querySelector(`[data-songid='${this.id}']`))
                                    window.SongModal.timeslot.songs = songs;
                                    window.TimeslotModal.timeslot.songs = songs;

                                })
                        });
                    }
                    return songDiv;
                }
            }

            async function addSong(id, title, artist, duration) {
                const song = {
                    id: parseInt(id),
                    title: title,
                    artist: artist,
                    duration: duration
                }
                const timeslotId = window.SongModal.timeslot.id;
                await fetch(`/api/timeslot/${timeslotId}/addSong`, {
                    method: "POST", headers: {
                        "Content-Type": "application/json"
                    }, body: JSON.stringify(song)
                }).then(response => response.json()).then((songs) => {
                    const newSong = new Song(song);
                    document.querySelector(".song-playlist-songs").appendChild(newSong.render(timeslotId));
                    document.querySelector(".timeslot-playlist-songs").insertBefore(
                        newSong.render(null),
                        document.querySelector(".add-song-button")
                    );
                    window.SongModal.timeslot.songs = songs;
                    window.TimeslotModal.songs = songs;
                });
            }
        </script>