<% songs.forEach(song=> { %>
    <div class="song"
        onclick="addSong('<%=song.id%>','<%=song.title%>', '<%=song.artist%>', '<%=song.duration%>')"
        data-id="<%=song.title+song.artist%>">
        <div class="song-icon">
            <%=
                song.title.slice(0,2).toUpperCase()%>
        </div>
        <div class="song-details">
            <div class="song-title">
                <%=song.title%>
            </div>
            <div class="song-author">
                <%= song.artist%>
            </div>
        </div>
        <div class="song-duration">
            <%=song.duration%>
        </div>
    </div>
    <% }) %>

        <script>
            async function addSong(id, title, artist, duration) {
                const song = {
                    id: parseInt(id),
                    title: title,
                    artist: artist,
                    duration: duration
                }
                const timeslotId = window.SongModal.timeslot.id;
                await fetch(`/api/timeslot/${timeslotId}/addSong`, {
                    method: "POST", headers: {
                        "Content-Type": "application/json"
                    }, body: JSON.stringify(song)
                }).then((response) => response.text())
                    .then((html) => {
                        document.querySelector(".timeslot-playlist-songs").innerHTML = html + `                                    <button
                                            class="add-song-button"
                                            onclick="window.TimeslotModal.handleAddSongClick(event)">+
                                            add
                                            song</button>`;
                        document.querySelector(".song-playlist-songs").innerHTML = html
                    });
            }

        </script>