<!DOCTYPE html>
<html>
    <head>
        <title>Lists</title>

        <link href="../../static/css/main.css" rel="stylesheet">
    </head>
    
    <body>
        <main>
            <header>
                <section class="header-tool">
                    <button><a href="/">Main</a></button>
                </section>

                <%- include('../partials/date-time'); %>
            </header>
            <hr>

            <section>
                <% if(lists.length == 0) { %>
                    <h1>None exist for this search.</h1>
                <% } %>

                <% lists.forEach(list => { %>
                    <h1> <%= list.name %> [<%= list.size %>] <button onClick="location.href='/list/add/record/<%= list.id %>'" type="button">+</button></h1>
                    <hr>
                    <ul class="records">
                        <% list.records.forEach(listrecord => { %>
                        <li>
                            <% records.forEach(record => { %>
                                <% if (record.id === listrecord.recid) { %>
                                    <p> <%= record.name %> </p>
                                    <p> <%= record.info %> </p>
                                    <p> <%= record.time %> </p>
                                <% } %>
                            <% }); %>
                        </li>
                        <% }); %>
                    </ul>
                    <hr>
                <% }); %>
            </section>
        </main>
    </body>
</html>