<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>

        <link href="../../static/css/main.css" rel="stylesheet">

        <script src="../../static/javascript/main.js"></script>         
        <script>
            var timedata = `<%- JSON.stringify(timeData) %>`;
            var listdata = `<%- JSON.stringify(listData) %>`; 
        </script>
    </head>
    
    <body>
        <main>
            <header>
                <%- include('../partials/tool-section'); %>

                <%- include('../partials/date-time'); %>

                <section class="header-user">
                    <p></p>
                    <p></p>
                </section>
            </header>
            <hr>

            <%- include('../partials/date-section'); %>

            <%- include('../partials/time-section'); %>
        </main>
    </body>
</html>