<!DOCTYPE html>
<html>
    <head>
        <title>Records</title>

        <link href="/../../static/css/main.css" rel="stylesheet">
    </head>
    
    <body>
        <main>
            <header>
                <section class="header-tool">
                    <button><a href="/">Main</a></button>
                    <button><a href="/list">Lists</a></button>
                </section>

                <%- include('../partials/date-time'); %>

                
                <%- include('../partials/user-section'); %>
            </header>

            <section>    
                <% if(records.length == 0) { %>
                    <h3 style="text-align: center;">None exist for this search.</h3>
                <% } %>

                <ul class="records">
                    <% records.forEach(record => { %>
                        <li>
                            <p> <%= record.name %>   </p>
                            <p> <%= record.artist %> </p>
                            <p> <%= record.time %>   </p>

                            <% const matches = list.records.filter(listrecord => listrecord.recid === record.id) %>
                            <% if (matches.length > 0) { %>
                            <% } else { %>
                                <form method="post" action="/list/add/finish">                            
                                    <input type="hidden" name="listID" value="<%= list.id %>">
                                    <input type="hidden" name="recoID" value="<%= record.id %>">
                                    <button type="submit">+</button>
                                </form>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            </section>
        </main>
    </body>
</html>